<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Centrifugo.js Demo</title>
  <link href="https://unpkg.com/semantic-ui/dist/semantic.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/crypto-js/core"></script>
  <script src="https://unpkg.com/crypto-js/hmac"></script>
  <script src="https://unpkg.com/crypto-js/sha256"></script>
  <script src="https://unpkg.com/crypto-js/enc-hex"></script>
  <script src="https://unpkg.com/crypto-js/hmac-sha256"></script>
  <script src="centrifuge.min.js"></script>
</head>
<style>
  body {
    padding-top: 20px;
  }

  .avatar {
    height: 2.5em !important;
  }

  .comments {
    height: 400px;
    max-width: 700px !important;
    overflow: auto;
  }

  .overflow {
    height: 98%;
    overflow: auto;
  }

  .me .avatar {
    float: right !important;
  }

  .me .author {
    float: right;
    margin-left: 0.5em;
  }

  .me .content {
    text-align: right;
    margin-left: 0;
    margin-right: 3.5em;
  }

  .tabular .icon {
    margin: 0 !important;
  }

  .tabular .icon:hover {
    color: #ef4836;
  }

  .tabular a {
    padding: .92857143em .5em !important;
  }

  .unread {
    color: #ef4836 !important;
  }
</style>
<body>
<div id="app"></div>

<script>
  const Messages = {
    data () {
      return {
        centrifuge: null,
        url: 'ws://192.168.1.9:8000/connection/websocket', // 连接的服务器地址
        timestamp: '' + Math.floor(Date.now() / 1000), // 时间戳
        subscriptionList: [], // 订阅通道实例
        publicCallbacks: {},  // 通道实例回掉方法
        connectionInfo: {
          status: false, // 连接状态
          info: '未连接，请创建连接' // 连接信息
        },
        channelName: 'public:chat', // 填写的通道名称
        channelList: [], // 通道列表
        selectedChannel: '', // 当前发送消息的通道
        // 发送内容
        sendMsg: {
          user: '测试用户' + Math.floor(Math.random() * 10000),
          msg: ''
        },
        msgList: [], // 消息列表
        logList: [], // log列表
        readList: [], // 已读列表
        uidList: new Map() // 存储通道的 msgid
      }
    },
    computed: {},
    created () {
      // 通道回调事件
      this.publicCallbacks = {
        message: dataset => {
          this.logList.push({info: 'message 接收消息', res: dataset})
          this.msgList.push(dataset) // 追加到消息列表中
          if (localStorage.getItem('msgid')) {
            this.uidList = this.jsonToStrMap(localStorage.getItem('msgid'))
          }
          this.uidList.set(dataset.channel, dataset.uid)
          localStorage.setItem('msgid', this.strMapToJson(this.uidList)) // 存储通道最后一条信息的 uid
          // this.subscription.readMessage(dataset.uid).then((msgid) => {
          //   console.log('Read success')
          // })
        },
        read: dataset => {
          this.logList.push({info: 'read 已读消息', res: dataset})
          this.readList.push(dataset) // 记录下已读消息
        },
        subscribe: context => {
          this.logList.push({info: 'subscribe 订阅通道', res: context})
          this.channelList.push(context.channel)
          this.selectedChannel = context.channel // 默认当前通道
          // 订阅成功，获取该通道历史记录
          // this.subscriptionList[this.channelName].history(0, -1).then((res) => {
          //   this.logList.push({info: 'history 历史消息', res: res})
          //   this.msgList.push(...res.data)
          // })
          // 订阅成功，自动发送
          this.subscriptionList[this.channelName].publish('自动发送：【' + this.sendMsg.user + '】加入【 ' + this.channelName + ' 】')
        },
        error: errContext => {
          this.logList.push({info: 'error 错误信息', res: errContext})
        },
        unsubscribe: context => {
          this.logList.push({info: 'unsubscribe 取消订阅', res: context})
          for (const i in this.channelList) {
            if (context.channel === this.channelList[i]) {
              this.channelList.splice(i, 1) // 从通道列表中移除
            }
          }
          this.selectedChannel = this.channelList[this.channelList.length - 1] // 激活最后一个标签
        }
      }
    },
    methods: {
      // 创建连接
      connecting () {
        // 连接实例
        this.centrifuge = new Centrifuge({
          url: this.url,
          user: this.sendMsg.user,
          timestamp: this.timestamp,
          token: CryptoJS.enc.Hex.stringify(CryptoJS.HmacSHA256(this.sendMsg.user + this.timestamp, '109AF84FWF45AS4S5W8F'))
        })
        // 连接成功事件
        this.centrifuge.on('connect', (context) => {
          this.logList.push({info: 'connect 连接成功', res: context})
          this.connectionInfo = {status: true, info: context.latency + 'ms'}
        })
        // 连接断开事件
        this.centrifuge.on('disconnect', (context) => {
          this.logList.push({info: 'disconnect 连接断开', res: context})
          this.connectionInfo = {status: false, info: context.reason}
        })
        // 建立连接
        this.centrifuge.connect()
      },
      // 订阅通道
      subscribe (channelName) {
        let msgid = ''
        if (localStorage.getItem('msgid')) {
          msgid = this.jsonToStrMap(localStorage.getItem('msgid')).get(channelName) // 先从本地缓存中查找是否存在对应通道的 msgid
        }
        this.subscriptionList[channelName] = this.centrifuge.subscribeWithMsgid(channelName, this.publicCallbacks, msgid)
      },
      // 取消订阅
      unsubscribe (channelName) {
        this.subscriptionList[channelName].unsubscribe()
      },
      // 单条标记为已读
      read (channelName, uid) {
        this.subscriptionList[channelName].readMessage(uid).then((msgid) => {})
      },
      // 发送信息
      publish (data) {
        if (data.msg === '' || this.selectedChannel === '') return false
        this.subscriptionList[this.selectedChannel].publish(data.msg)
      },
      // 切换通道
      switchChannel (channelName) {
        this.selectedChannel = channelName
      },
      // 清除缓存
      clearLocalStorage () {
        localStorage.removeItem('msgid')
      },
      // map to json
      strMapToJson (strMap) {
        return JSON.stringify(this.strMapToObj(strMap))
      },
      // map to object
      strMapToObj (strMap) {
        let obj = Object.create(null)
        for (let [k, v] of strMap) {
          obj[k] = v
        }
        return obj
      },
      // json to map
      jsonToStrMap (jsonStr) {
        return this.objToStrMap(JSON.parse(jsonStr))
      },
      // object to map
      objToStrMap (obj) {
        let strMap = new Map()
        for (let k of Object.keys(obj)) {
          strMap.set(k, obj[k])
        }
        return strMap
      }
    },
    watch: {
      // 监听已读消息列表，将已读的状态改为 true，同步到消息列表中
      readList () {
        this.readList.forEach(readUid => {
          this.msgList.forEach(msg => {
            if (readUid === msg.uid) {
              msg.read = true
            }
          })
        })
      },
      // 消息滚动保持在底部
      msgList () {
        this.$nextTick(() => {
          document.querySelector('.comments').scrollTop = document.querySelector('.comments').scrollHeight
        })
      },
      // 打印log保持在底部
      logList () {
        this.$nextTick(() => {
          document.querySelector('.overflow').scrollTop = document.querySelector('.overflow').scrollHeight
        })
      }
    },
    template:
      `
<div class="ui grid centered">
  <h4 class="ui horizontal divider header">Centrifuge.js Demo</h4>
  <div class="six wide column">
    <div class="ui container">
      <div class="ui fluid action input">
        <input type="text" v-model="url">
        <div class="ui button green" @click="connecting">创建连接</div>
      </div>
      <div class="ui message" :class="connectionInfo.status ? 'positive' : 'negative'">
        {{ connectionInfo.status ? '连接成功，请订阅通道' : '连接断开'}} （{{ connectionInfo.info }}）
      </div>
      <div class="ui right labeled left icon input">
        <i class="tags icon"></i>
        <input type="text" placeholder="Enter tags" v-model="channelName">
        <a class="ui teal tag label" @click="subscribe(channelName)">订阅通道</a>
      </div>
      <div class="ui red labeled icon button right floated left aligned" @click="clearLocalStorage">清除缓存<i class="trash icon"></i></div>
      <div class="ui horizontal divider">消息</div>
      <div class="ui top attached tabular menu" v-if="channelList.length">
        <a class="item" :class="{'active': item === selectedChannel}" :data-tab="item"
           v-for="item in channelList" @click="switchChannel(item)">{{ item }}<i class="icon close"  @click.stop="unsubscribe(item)"></i></a>
      </div>
      <div class="ui bottom attached tab segment" :class="{'active': itemChannel === selectedChannel}"
           :data-tab="itemChannel" v-for="itemChannel in channelList" >
        <div class="ui comments" >
          <div class="comment" :class="{'me': item.info.user === sendMsg.user }" v-for="item in msgList" v-if="item.channel === selectedChannel">
            <a class="avatar" @click="read(item.channel, item.uid)">
              <img :src="item.info.user === sendMsg.user ? 'avatar2.jpg' : 'avatar.jpg'">
            </a>
            <div class="content">
              <a class="author">{{ item.info.user }}</a>
              <div class="metadata">
                <div class="date">{{ item.timestamp | dateFormat }}</div>
              </div>
              <div class="text">{{ item.data }}</div>
              <div class="actions">
                <!--<a class="save">{{ item.channel }}</a>-->
                <a class="reply" :class="{'unread' : !item.read}">{{ item.read ? '已读' : '未读' }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui form">
        <div class="field">
          <div class="two fields">
            <div class="field">
              <div class="ui left icon input"><input type="text" v-model="sendMsg.user" disabled><i class="user icon"></i></div>
            </div>
            <div class="field">
              <select class="ui dropdown" v-model="selectedChannel" disabled>
                <option :value="item" v-for="item in channelList">{{ item }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field"><textarea v-model="sendMsg.msg" rows="3"></textarea></div>
        <div class="ui primary submit labeled icon button" @click="publish(sendMsg)"><i class="icon edit"></i>发送消息</div>
      </div>
    </div>
  </div>
  <div class="six wide column overflow">
    <div class="ui info message" v-for="item in logList">
      <div class="header"> {{ item.info }}</div>
      <pre>{{ item.res }}</pre>
    </div>
  </div>
</div>
      `,
    filters: {
      dateFormat (value, fmt = 'YYYY-MM-DD HH:mm:ss') {
        value = new Date((value / 1000000))
        let o = {
          'M+': value.getMonth() + 1,
          'D+': value.getDate(),
          'h+': value.getHours() % 12 === 0 ? 12 : value.getHours() % 12,
          'H+': value.getHours(),
          'm+': value.getMinutes(),
          's+': value.getSeconds(),
          'q+': Math.floor((value.getMonth() + 3) / 3),
          'S': value.getMilliseconds()
        }
        if (/(Y+)/.test(fmt)) {
          fmt = fmt.replace(RegExp.$1, (`${value.getFullYear()}`).substr(4 - RegExp.$1.length))
        }
        for (const k in o) {
          if (new RegExp(`(${k})`).test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : ((`00${o[k]}`).substr((`${o[k]}`).length)))
          }
        }
        return fmt
      }
    }
  }

  new Vue({
    el: '#app',
    components: {
      'Messages': Messages
    },
    template: `<Messages></Messages>`
  })
</script>
</body>
</html>